.todo-form {
  display: flex;
  flex-direction: column;
  width: 480px;

  &-input {
    margin-bottom: 5px;
  }

  &-actions {
    align-self: flex-end;
    margin: 10px 0;

    &-cancel {
      margin-right: 10px;
    }
  }
}
